body {
	margin: 3px;
	width: 450px;
	margin: auto;
}

#pnch_vote_btn {
	float: right;
}

.page-header {
	text-align: center;
}

#pnch_name {
	width: 100%;
}

.std_warning {
	color: #ff5c33;
}

#brd_avg, #brd_std {
	color: #1F77B4;
	font-size: 23px;
}

#votation {
	display: none;
	width: 100%;
}

#aprove_vote {
	height: 30px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: orange;
}

.bar:hover {
	fill: orangered;
}

.x.axis path {
	display: none;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}